/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require_self
 */

$body-bg: #c5d5d5;
$font-family-sans-serif: "Montserrat", Helvetica, Arial, sans-serif !default;
$navbar-default-bg: #c5d5d5;
$navbar-default-brand-color: #fff;
$text-color: #68665c;
$btn-default-color: #8d8d8d;
$btn-default-bg: #f7efed;
$navbar-default-link-color: #877a87;


@import "bootstrap-sprockets";
@import "bootstrap";

.info-icon, img.location-card.info-icon {
  height: 50px;
  width: 50px;
  background-color: $body-bg;
  padding: 10px;
  border-radius: 50%;
}

.nil-icon {
  height: 50px;
  width: 50px;
  background-color: $body-bg;
  opacity: 0.2;
  padding: 10px;
  border-radius: 50%;
}

.info-text {
  margin-top: 8px;
  font-size: 0.8em;
}

.btn {
  transition: all 0.5s ease;
}

.btn-default:hover {
  background-color: #ddd2ce;
}

.container {
  margin: 20px auto;
}

#listMap, #showMap {
  height: 400px;
  width: 100%;
}

.alert {
  margin-top: -20px;
}

.navbar {
  margin-top: 0;
  border-radius: 0;
  border: none;
  .navbar-collapse{
    border: none;
    border-bottom: 1px solid darken(#c5d5d5, 15%);
  }
  .navbar-text {
    color: #fff;
  }
  .navbar-brand {
    padding: 5px;
  }
}

#mapInputs {
  display: block;
}

#pac-input {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  padding: 8px;
  display: block;
}

.pac-item {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
}

.pac-item:hover {
  background-color: #f0f3fc;
}

.pac-item:selected {
  background-color: #ddd2ce;
}

#geolocateButton {
  margin-bottom: 12px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 12px;
  display: block;
}

#geolocateButton:hover {
  background-color: #d9d9d9;
}

.location-card {
  box-shadow:0 2px 3px #aaa;
  border-radius:3px;
  border: none;
  padding: 0;
  .location-card-img {
    padding: 0;
    margin: 0;
  }
  .location-card-info {
    padding: 20px;
  }
  img {
    height: 100%;
    max-height: 300px;
    object-fit: cover;
  }
  h3 {
    margin-top: 0;
  }
}

.label {
  font-size: 16px;
}

.filters {
  display: flex;
  flex-direction: row;
  img {
    margin: 5px;
  }
}

.filter-icon {
  height: 50px;
  width: 50px;
  background-color: #ccc;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    padding: 6px;
  }
}

.filter-true {
  background-color: #877a87;
}
.filter-false {
  background-color: #ccc;
}
