<p class="lead">These are the locations near you.</p>
<button id="get_list_view" class="btn btn-primary">List View</button>

<hr>
<div id="listMap"></div><br>

<%= javascript_include_tag 'list-map' %>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAbRwB5MRYYe7V01n2_suO8lni8njzPYM&callback=initMap">
</script>
