<p class="lead">These are the locations near you.</p>
<button id="switch-views" class="btn btn-primary">List View</button>

<hr>

<a class="btn btn-sm btn-default button-wifi">wifi</a>
<a class="btn btn-sm btn-default button-aircon">aircon</a>
<a class="btn btn-sm btn-default button-availsockets">sockets</a>
<a class="btn btn-sm btn-default button-morefilters" data-toggle="collapse" data-target="#collapseOne">more filters</a>
<div id="collapseOne" class="collapse">
  <br>
  <a class="btn btn-sm btn-default button-coffee">coffee</a>
  <a class="btn btn-sm btn-default button-quiet">quiet</a>
  <a class="btn btn-sm btn-default button-uncrowded">uncrowded</a>
  <a class="btn btn-sm btn-default button-clearfilters">clear filters</a>
</div>
<hr>

<input id="pac-input" class="controls" type="text" size="50" placeholder="Search another location!">

<div id="listCards" class="hidden"></div>

<div id="listMap"></div><br>

<%= javascript_include_tag 'views' %>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAbRwB5MRYYe7V01n2_suO8lni8njzPYM&callback=initMap&libraries=places">
</script>